
*{
  padding: 0;
  margin: 0;
}
.home {
    background-image: url("https://i.postimg.cc/MKYN9bDH/Untitled-design-9.png");

    /* Full height */
    height: 100%;
    background-attachment: fixed;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
}




.book {
    background-image: url("https://4kwallpapers.com/images/wallpapers/hirsch-deer-forest-sun-rays-dark-background-wildlife-rock-2560x1080-2355.jpg");
  min-height: 320px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  #sp {
    background-image: url("https://i.postimg.cc/NFY45nbQ/pexels-steven-paton-16848028.jpg");
  
    min-height: 250px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

#jumpy{  font-family: "Mukta", sans-serif;}


  .rows {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  @media (hover: none) {
    .home{
        background-attachment: scroll;
    }
}
@media (hover: none) {
  .book{
      background-attachment: scroll;
  }
}
@media (hover: none) {
  #sp{
      background-attachment: scroll;
  }
}

  #anim {
    transition: .5s ease-in-out;
  }
  #anim:hover {
    transform: scale(1.07);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
